@charset "utf-8";

/*googleips 웹폰트 css 파일 불러오기*/
@import url('https://fonts.googleapis.com/css?family=Galada|Nanum+Gothic|Nanum+Myeongjo');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;900&display=swap');

* {margin:0; padding:0;}
html{font-size:16px; }
body{ font-size:16px;
      color:#6f6f6f;
      font-family: 'Nanum Gothic', sans-serif }
ul, ol, li{list-style-type:none}
img, fieldset{border:none;vertical-align: middle}
hr {clear:both;border:none}
a {color:inherit;text-decoration:none;
   outline:0}
table{border-collapse:collapse}
input, textarea,
input::placeholder, textarea::placeholder {
      color:inherit;font-size:inherit;
       font-family:inherit;
       vertical-align: middle;
      outline: 0;}
button{outline:0}

.sound_only{display: block;text-indent:-9999999999px;}

/****************메인화면, 서브화면 공통영역 ************************************/

#quickmenu{width: 115px;
      position: fixed;
      top :100px; right:0; z-index: 1; margin-top: 150px;
      border-radius: 10px;}
  #quickmenu ul{ background-color:#302c29; border-radius: 10px; transition: 1s;}
  #quickmenu ul:hover{ background-color:#524d4a; transition: 0.5s; border-radius: 10px;}
  #quickmenu li{ color: white;  height: 100px;}
  #quickmenu ul:last-child{height: 50px; background-color: rgb(29, 27, 27);}
  #quickmenu ul:last-child:hover{ background-color:#524d4a; height: 50px;}
  #quickmenu ul:last-child a{font-size: 1.2rem; margin-bottom: 7px;}

  #quickmenu li{text-align: center;  display: block;}      
  #quickmenu li a{display: block; margin-top: 10px;} 
  #quickmenu ul:first-child{border-top:none;} 
  #quickmenu li img{width: 40%; text-align: center; }
  #quickmenu li:last-child{border-top:1px solid white } 

#wrap{width: 100%; min-width: 1024px; overflow: hidden;}
.inner{min-width:1024px;max-width:1280px;margin:0 auto;}

#nav_pop{position: fixed; width: 100%;  min-width:1024px; height: 100%; overflow: auto;
z-index: 999999999; display: none;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffaf4b+0,ff920a+100;Orange+3D+%231 */
background: #ffaf4b; /* Old browsers */
background: -moz-linear-gradient(top, #ffaf4b 0%, #ff920a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffaf4b 0%,#ff920a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */

/**/}
#nav_pop .navpop_inner{width: 1024px; margin: 0 auto; }
#nav_pop #nav_logo{position: relative; top: 20px;}
#nav_pop #nav_logo img{width: 25%;}
#nav_pop #nav_logo .nav_close{ position: absolute; top: 20px; right: 0;
}
#nav_pop .depth1 > ul{margin-top: 100px;}
#nav_pop .depth1 > li {width: 30%; float: left; margin-bottom: 120px; height: 300px;  }
#nav_pop .depth1 > li > a {font-size: 1.9rem; margin-bottom: 20px; display: block;
font-weight: 600; color: rgba(41, 36, 28, 0.986);}
#nav_pop .depth1 ul{}

#nav_pop .depth2{margin-top: 20px;}
#nav_pop .depth2 > li > a {font-size: 1.7rem; font-weight: 400; line-height: 47px;
color: rgba(39, 39, 39, 0.986);}

 #header .top_icon{float:right; width: 20%;
      width:215px;height:75px; 
     }
#header .top_icon ul li{
      display: inline; height: 74px; }   

#header .top_icon ul li img{width: 20%; margin-top: 15px; margin-right: 25px;
     min-width: 20%; }
  /* 네비4 - 메가네비100% */
  #header .inner{position: relative;}  
  #nav4{}
  #nav4 .depth1 {float:left; }
  
  #nav4 .depth1 > li {float:left;padding:0 20px;}
  #nav4 .depth1 > li > a {display: block;
          text-align: center;font-size:1.3rem;color:#333;
          font-weight: bold;line-height:75px;}
  #nav4 .depth1 > li > a:after {content: '';height:3px; background-color:darkorange;
                         position: relative;width:0;display: block;
                         transition: 0.5s;}
  #nav4 .depth1 > li:hover > a:after{width:100%}

  #nav4 .depth1{position: static;} 
    
  #nav4 .nav_box {position:absolute;top:calc(2.2rem + 25px);top:78px;left:0;width:100%;
               background-color:#3a372e;z-index:96;
              display: none;
              padding:10px 0; color:#fff;}

  #nav4 .depth1>li:hover .nav_box{display: block;}    
  
  #nav4 .depth2{} 
  #nav4 .nav_box .depth2{width:100%;margin:0 auto;position: relative;
                         text-align: center;
                         padding-right: 130px;box-sizing: border-box;}
  #nav4 .nav_box .depth2:after{content: '';display: block;clear: both;}
  #nav4 .depth2 > li{display: inline-block;box-sizing: border-box;
                  padding:10px;}
 
 #nav4 .depth2 > li:after{content:'';display: inline-block;width:5px;height:5px;
                          background-color:darkorange;border-radius: 50%;
                          margin-left:20px;transform:translate(0,-3px)}
#nav4 .depth2 > li:last-child:after{display: none;}

#header #logo{float:left;display: table;}
#header #logo a{display: table-cell;vertical-align: middle;}
#logo{width:calc(15.5% - 0px); margin-right: 20px;}
#logo img{width:100%; top: -20px; margin-top: 15px; }

h2{font-size: 1.875rem; display: inline-block;}
h3{font-size: 0.9375rem; display: inline-block;}

#header #logo{float:left;}


.top_icon{}

/**footer*/

#footer{height: 180px; padding-top: 30px; border-top:1px solid black; }
#footer .inner > ul{text-align: center; height: 50px; }
#footer .inner > ul > li{display: inline-block; margin-right: 15px; width: 68px;
      }
#footer .inner > ul > li > p{font-size: 0.8rem;  border-right: 1px solid black;}



ul,li,ol{list-style: none;}
#footer{height: 180px; padding-top: 30px; border-top:1px solid white;
background-color: #333; margin-top: 150px;}
#footer .inner > ul{text-align: center; height: 50px; }
#footer .inner  ul > a{display: inline-block; margin-right: 15px; 
      border-right: 1px solid white; color: white; 
      float: left;
      }
#footer .inner  ul li >p{font-size: 0.8rem; margin-right: 20px; 
margin-right: 10px;
}



ul,li,ol{list-style: none;}
.foot1 li{float: right; margin-right: 20px; position: relative;}



.foot1 .select_tit::after{content: ''; display: inline-block; width: 15px; height: 15px;
               background: url(../image/icon_set1.png);
               background-position: -5px -425px;
               transform: rotate(-90deg); margin-left: 4px;}
.foot1 .list{position: absolute; left: 0; bottom: 40px; border: 1px solid #000;
             width: 100%; box-sizing: border-box; padding: 10px; display: none;
             height: 500px; background-color: white;}  
.foot1 li:hover .list{display: block; height: auto; width: 115px;}   
.foot1 li:hover .list a{font-size: 0.7rem;}         
.foot1 li:hover .select_tit::after{transform: rotate(90deg);}         
.foot1 .list a {display: block; margin:5px 0;} 


.foot1 .select_tit02{border: 1px solid white; padding:10px 20px 15px 20px; font-size: 0.8rem; color: white;}

.foot1 .select_tit02::after{content: ''; display: inline-block; width: 15px; height: 15px;
               background: url(../image/icon_set1.png);
               background-position: -5px -425px;
               transform: rotate(-90deg); margin-left: 4px;}



.foot1 .img01{width: 35px; height: 44px;
    background: url(../image/icon_set1.png);
    background-position: -0px -380px; margin-left: 10px; margin-top: 10px;}

.foot1 .img02{width: 35px; height: 44px;
        background: url(../image/icon_set1.png);
        background-position: -40px -380px; margin-left: 10px; margin-top: 10px;}

.foot1 .img03{width: 35px; height: 44px;
        background: url(../image/icon_set1.png);
        background-position: -77px -380px; margin-left: 10px; margin-top: 10px;}        


        .foot1 .img01{width: 35px; height: 44px;
            background: url(../images/icon_set1.png);
            background-position: -0px -380px; margin-left: 10px; margin-top: 10px;}
        
        .foot1 .img02{width: 35px; height: 44px;
                background: url(../images/icon_set1.png);
                background-position: -40px -380px; margin-left: 10px; margin-top: 10px;}
        
        .foot1 .img03{width: 35px; height: 44px;
                background: url(../images/icon_set1.png);
                background-position: -77px -380px; margin-left: 10px; margin-top: 10px;} 
 
.foot1 #last{font-size: 0.5rem;}               
